.react-player1{
    position: absolute;
    top:0;
    left:0;
    max-width: 440px;
    max-height: 300px;
}

@media screen and (min-width: 1500px) and (max-width: 1600px){ 
.react-player1{
    max-width: 350px;
    max-height: 250px;
    }
}

@media screen and (max-width: 414px){
    .react-player{
        max-width: 390px;
        max-height: 390px;
        padding-right: 2px;
    }
}
@media screen and (max-width: 375px){
    .react-player{
        max-width: 360px;
        max-height: 360px;
        padding-right: 7px;
    }
}
@media screen and (max-width: 360px){
    .react-player{
        max-width: 350px;
        max-height: 350px;
        padding-right: 15px;
    }
}
@media screen and (max-width: 320px){
    .react-player{
        max-width: 300px;
        max-height: 300px;
        padding-right: 2px;
    }
}