.react-player{
    position: absolute;
    top:0;
    left:0;
    width: 868px;
    height: 500px;
}

@media screen and (max-width: 414px){
    .react-player{
        max-width: 390px;
        max-height: 390px;
        padding-right: 2px;
    }
}
@media screen and (max-width: 375px){
    .react-player{
        max-width: 360px;
        max-height: 360px;
        padding-right: 7px;
    }
}
@media screen and (max-width: 360px){
    .react-player{
        width: 330px;
        height: 330px;
        padding-right: 10px;
     
    }
}
@media screen and (max-width: 320px){
    .react-player{
        max-width: 300px;
        max-height: 300px;
        padding-right: 2px;
    }
}